:root{
    /* breaking  */
    --mobile-device:480px;
    --tablete-device:768px;
    --desktop-device:1200px;

    /* colors */
    --primery-color:#E6EDBA;
    /* --primery-color:#fffefe; */
    --secondery-color:#4B452D;
    /* --secondery-color:#6c90b3; */
    --nutreal-color:#fff;
    --info:#25C10B;
    --font:Roboto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

body{
    background: var(--primery-color);
    font-size: 15px;
}

.container{
    max-width: 80rem;
    min-width: 300px;
    margin-top: 10px;
    margin-inline:auto ;
    word-wrap: break-word;
}
.container h1{
    font-size: 2.5rem;
    margin-inline: auto;
    margin-bottom: 10px;
}
.list-of-coins{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
.list-of-coins .item{
    position: relative;
    height: 60px;
    background: var(--nutreal-color);
    color: var(--secondery-color);
    margin-top: 4px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: 60px fr 1fr 2fr; */
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: var(--secondery-color);
    
}
.list-of-coins .item div{
    position: relative;
    overflow: hidden;
    font-weight: bold;
}
.list-of-coins .item img{
    height: 20px;
    width: 20px;
 position: absolute;
 left: 0;
}
.name{
    text-align: left;
    padding-left: 22px;
}
sub{
    font-size: 0.5rem;
}
.list-of-coins .header{
    background-color: var(--secondery-color);
    color: var(--nutreal-color);
}
.list-of-coins .item span{
    color: var(--info);
    font-size: 0.5rem;
    margin-left: 4px;
    font-weight: bold;
}


@media ( max-width: 768px) {
    .container h1{
        font-size:2rem ;
        text-align: center;
    }
    .list-of-coins .item img{
        height: 18px;
        width: 18px;
    
    }
}
@media ( max-width: 480px) {
    .container h1{
        font: size 1.5em;
    }
    .list-of-coins .item img{
        height: 15px;
        width: 15px;
    
    }
    .list-of-coins .item{
        font-size: 0.8rem;
    }
}