@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

:root{
    /* breaking  */
    --mobile-device:480px;
    --tablete-device:768px;
    --desktop-device:1200px;

    /* colors */
    /* --primery-color:#E6EDBA; */
    --primery-color:#e9e3e1;
    /* --primery-color:#fffefe; */
    /* --secondery-color:#4B452D; */
    --secondery-color:#00042e;
    --nutreal-color:#fff;
    --info:#25C10B;
    --font:Roboto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

body{
    background: var(--primery-color);
    font-size: 15px;
}

.container{
    max-width: 80rem;
    min-width: 300px;
    margin-top: 10px;
    margin-inline:auto ;
    word-wrap: break-word;
}
.container h1{
    font-size: 2.5rem;
    margin-inline: auto;
    margin-bottom: 10px;
    color: black;
}
.list-of-coins{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
.list-of-coins .item{
    position: relative;
    height: 60px;
    background: var(--nutreal-color);
    color: var(--secondery-color);
    margin-top: 2px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    /* color: var(--secondery-color);*/
    color: black;
    
}
.cap, .price{
    color: rgb(87, 86, 86);
    font-weight: 100;
    font-size: 12px;
}
.header .cap, .header .price{
    color: white;
    font-weight: bold;
    font-size :0.9rem;
}
.list-of-coins .item div{
    position: relative;
    overflow: hidden;
    font-weight: bold;
}
.list-of-coins .item img{
    height: 20px;
    width: 20px;
 position: absolute;
 left: 0;
}
.name{
    text-align: left;
    padding-left: 22px;
}
sub{
    font-size: 0.5rem;
}

.list-of-coins .header{
    background-color: var(--secondery-color);
    color: var(--nutreal-color);
}
.list-of-coins .item span{
    color: var(--info);
    font-size: 0.5rem;
    margin-left: 4px;
    font-weight: bold;
}
.bg-img{
    position: relative;
    background:url('./images/aug_\(145\).jpg') no-repeat;
    object-fit:contain;
    background-position: center;
    background-size:cover;
    margin-top: -20px;
    height: calc(100vh + 20px);
}
.bg-img::before{
    content: '';
    width: 100%;
    height: 160px;
    background:linear-gradient(rgba(0, 0, 0, 0) 30%,#00042e);
    position: absolute;
    left: 0;
    bottom: 0;
}
.hero-section{
    min-height: 100vh;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    /* background: #25C10B; */
}
.hero-section .title{
    /* background: red; */
    align-self: flex-end;
}

.hero-section div h1{
    color: white;
    margin-top: auto;
    justify-self: first baseline;
    font-size: 4rem;
    font-family: 'Lobster', cursive;
    text-shadow: 4px 8px 10px black;
}

.hero-section div p{
    max-width: 50vw;
    min-width: 290px;
    font-size: 1.5rem;
    font-family: 'DM Sans', sans-serif;
    text-shadow: 4px 8px 10px black;

}

.check{
    padding:10px 20px;
    font-size: 1.2rem;
    font-weight: 900;
    border-radius: 4px;
    color: #fff;
    background: #1c2480;
    border: none;
    box-shadow: 4px 8px 10px rgba(3, 1, 43, 0.8);
    margin-top: 2rem;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.c{
    margin-top: 30px;
}

.social-media{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    /* background: red; */
    margin-inline: auto;
}
.social-media i{
    font-size: 30px;
    color: white;
}

.social-media div{
    transition: 0.1s ease-in;
    color: white;
    opacity: 0.5;
    animation:media 1s 1 ease-in;
}

.social-media div:hover{
    transform: scale(1.2);
opacity: 1.0;
}

@keyframes media {
    from{
        bottom: 0;
    }
}
/* media breaking points */

@media (max-width:1024px) {
    .hero-section div{
        margin-left: 2rem;
    }
}

@media ( max-width: 768px) {

    .container h1{
        font-size:2rem ;
        text-align: center;
    }
    .list-of-coins .item img{
        height: 18px;
        width: 18px;
    
    }

    .hero-section div p{
       max-width: 90vw;
       margin:5px auto;
       font-size: 1rem;
    }

    .hero-section div{
        margin-left: 0rem;
    }
    .check{
        margin-left: 2rem;
        margin-top: 10px;
        z-index: 99;
    }
    
}

@media ( max-width: 480px) {
    .container h1{
        font: size 1.5em;
    }
    .list-of-coins .item img{
        height: 15px;
        width: 15px;
    
    }
    .list-of-coins .item{
    grid-template-columns: 60px 1fr 1fr 1fr;
        font-size: 0.8rem;
    }
    .bg-img{
        background: #00042e;
        background-position: left;
    }
    .hero-section div{
        margin:5px;
    }

    .hero-section{
        grid-template-rows: 1fr 3fr;
        text-align: center;
    }

    .hero-section div h1{
       font-size: 2rem;
    }
    .hero-section div p{
        font-size: 1.1rem;
        text-justify:newspaper;
    }
    .check{
        width: 200px;
        margin-inline: auto;
    }
}

